#top {
	position: fixed;
	bottom: 3em;
	left: 3em;
	z-index: 9999;
	height: 3em;
	width: 3em;
	color: #fff;
	background-color: @navbar-default-bg;
	opacity: 0.7;
	padding: 0.55em;
	border-radius: 0.5em;
	display: none;
	transition: opacity 0.5s ease-in;
	
	&.show {
		display: block;
	}
	
	&:hover {
		opacity: 0.9;
	}
}