.footer {
	.top {
		background-color: @footer-top-bg;
	}
	
	.bottom {
		color: @navbar-default-color;
		background-color: @navbar-default-bg;
		
		a {
			color: @navbar-default-color;
		}
		
		a:hover {
			color: @navbar-default-link-active-color;
		}
		
		span:not(:last-of-type):after {
			content: " | ";
		}
	}
	
	.container {
		padding-top: @footer-vertical-spacing;
		padding-bottom: @footer-vertical-spacing;
		margin-left: auto;
		margin-right: auto;
	}
}