.sidebar {
	position: fixed;
	top: 50px;
	right: 0px;
	z-index: 9999;
	width: 135px;
	background-color: @navbar-default-bg;
	color: @navbar-default-color;
	border-bottom-left-radius: 10px;
	transition: all 100ms;
	
	.widget-area {
		display: none;
		margin-left: 10px;
	}
}

.sidebar:hover, .sidebar-locked {
	width: 200px;
	height: 100%;
	
	.widget-area { display: block; }
}

.sidebar-lock {
	display: block;
	margin: 10px;
}