.sidebar {
	position: fixed;
	top: 3.125em;
	right: 0;
	z-index: 9999;
	width: 0;
	height: 100%;
	background-color: @navbar-default-bg;
	color: @navbar-default-color;
	transition: all 100ms;
	
	a {
		color: @navbar-default-color;
	}
	
	a:hover {
		color: @navbar-default-link-hover-color;
	}
	
	h4 {
		margin-top: 0.938em;
	}
	
	> .widget-area {
		display: none;
		margin-left: 0.625em;
	}
	
	&.open {
		width: 15.625em;
	
		> .widget-area {
			display: block;
		}
	}
}