.sidebar {
	position: fixed;
	top: 50px;
	right: 0px;
	z-index: 9999;
	width: 0;
	height: 100%;
	background-color: @navbar-default-bg;
	color: @navbar-default-color;
	transition: all 100ms;
	
	a {
		color: @navbar-default-color;
	}
	
	a:hover {
		color: @navbar-default-link-hover-color;
	}
	
	.widget-area {
		display: none;
		margin-left: 10px;
	}
}

.sidebar.open {
	width: 250px;
	
	.widget-area {
		display: block;
	}
}

// Blogroll
.linkcat {
	list-style: none;
}