.social-btns {
  display: inline-block;
}

.social-btn {
  float: left;
  background: darken( @navbar-default-bg, 10% );
  color: @navbar-default-link-active-color;
  width: @social-button-size;
  height: @social-button-size;
  text-align: center;
  border-radius: @social-button-size;
	margin-right: @social-button-spacing;
	margin-bottom: @social-button-spacing;
	
	i {
		margin: 0.5em;
	}
}